::-webkit-scrollbar {
	width: 7px;
	height:7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: #c1c1c1;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #8e8e8e;
}

html,
body {
	height:100%;
	/*font-family: Roboto;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body,
body a,
input[type="text"],
select,
textarea {
	color:#8d8d8d;
}

button,
input,
select,
textarea {
	outline:none;
	border:0;
	font-family: Roboto;
	font-size:15px;
	resize: none;
}

.main .form-control:focus {
    box-shadow: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.d-none {
	display: none;
}

.p-abs {
	position: absolute;
}

.p-rel {
	position: relative;
}

.font-w-300 {
	font-weight:300;
}

.font-w-500 {
	font-weight:500;
}

.font-w-700 {
	font-weight:700;
}

.brd-rad-4 {
	border-radius:4px;
}

.font-12 {
	font-size:12px;
}

.font-13 {
	font-size:13px;
}

body .font-14 {
	font-size:14px;
}

.font-15 {
	font-size:15px;
}

.font-16 {
	font-size:16px;
}

.font-18 {
	font-size:18px;
}

body .white-bg {
	background-color:#fff;
}

body .gray-bg {
	background-color:#E2E4E6;
}

body .green-bg {
	background-color:#96d700;
}

body .transparent-bg {
	background-color:transparent;
}

.italic {
	font-style:italic;
}

.white-txt,
.filtering-popup button:hover {
	color:#fff;
}

.black-txt {
	color:#000;
}

.gray-txt {
	color:#8d8d8d;
}

.white-txt {
	color:#fff !important;
}

.green-txt {
	color:#96d700 !important;
}

.violet-txt {
	color:#512178 !important;
}

.red-txt {
	color:#de012f !important;
}

.no-underline,
.related-documents a:hover {
	text-decoration:none;
}

.txt-center {
	text-align:center !important;
}

.txt-left {
	text-align:left;
}

.txt-right {
	text-align:right;
}

.txt-upper {
	text-transform:uppercase;
}

.w-100-perc {
	width:100%;
}

.margin-btn-5 {
	margin-bottom:5px !important;
}

.padding-btn-5 {
	padding-bottom:5px !important;
}

.padding-5 {
	padding:5px !important;
}

.no-margin {
	margin:0 !important;
}

.no-padding {
	padding:0 !important;
}

.no-border {
	border:0 !important;
}

.green-border {
	border-color:#96d700 !important;
}
.green-border:hover {
	background:#96d700;
	color:#fff !important;
}

.red-border {
	border-color:#de012f !important;
}
.red-border:hover {
	background:#de012f;
	color:#fff !important;
}

.violet-border {
	border-color:#512178 !important;
}
.violet-border:hover {
	background:#512178;
	color:#fff !important;
}

.gray-border {
	border-color:#8d8d8d !important;
}
.gray-border:hover {
	background:#8d8d8d;
	color:#fff !important;
}

.nowrap {
	white-space: nowrap;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filtering-popup-layer.active-popup .filtering-popup.subpopup {
	position: absolute;
	right: 15px;
	max-width: 450px !important;
	width: calc(100% - 30px) !important;
	box-shadow: 0 0 5px 2px #ccc;
	margin-top: 5px;
	z-index: 1;
}

.filtering-popup-layer #id_pop_submitted,
.filtering-popup-layer #id_pop_accepted {
    top: 0 !important;
    max-width: 950px !important;
    right: 0;
    left: 0;
    width: 100% !important;
    box-shadow: none;
    margin-top: 0;
    margin: auto;
    bottom: 0;
    height: 100%;
    position: fixed;
}

.filtering-popup-layer #id_pop_submitted >div, .filtering-popup-layer #id_pop_accepted > div {
    width: 48%;
    display: inline-block;
    margin: 10px 8px;
}

.filtering-popup-layer #id_pop_submitted #id_checklist_buttons,
.filtering-popup-layer #id_pop_accepted #id_checklist_buttons {
    width: 98%;
}

div#id_checklist_buttons button {
    float: right;
}

#id_service_id,
#id_industry_id {
    background: #fff;
}

.disabled-area:after {
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(255, 255, 255, .4);
	cursor: not-allowed;
}

	.container {
		height:inherit;
	}	
	
		.left-slide {
			height:inherit;
			overflow-y:auto;
			max-width:248px;
			padding-bottom: 20px;
			background:#00adc7;
		}
		
			.left-slide .logo {
				margin-top:15px;
				margin-bottom:15px;
				margin-left:15px;
			}
		
				.left-slide .logo img {
					max-width:196px;
				}
				
			.left-slide-menu {
				margin-top:37px;
				margin-bottom:37px;
			}
				
				.left-slide-menu a {
					padding: 7px 17px;
					line-height:30px;
				}
				
					.left-slide-menu a i {
					margin-right: 12px;
					    min-width: 20px;
					    text-align: center;
					}
				
				.left-slide-menu a.active,
				.left-slide-menu a:hover {
					background:#512178;
					text-decoration:none;
				}
				
			.add-new-block {
			    margin-left: 15px;
			    margin-bottom: 15px;
			    border: 2px #fff solid;
    			    padding: 10px 28px 10px 20px;
			    font-size: 15px;
			    text-decoration: none !important;
			    white-space: nowrap;
			}
				
			.add-new-block:hover {
				background-color: #512178;
				text-decoration: none;
				border-color: #512178;
			}
			
				.add-new-block i:before {
					margin-right:10px;
					font-size:30px;
					font-style: normal;
					vertical-align: sub;
					content:"+";
				}
				.creator-info {
					bottom: 5px;
					left: 0;
					right: 0;
					font-size: 12px;
					text-align: center;
					color: #fff;
				}
		.wrapper {
			flex:1;
			width: calc(100% - 230px);
		}
		
			.top-bar {
				justify-content: space-between;
				align-items: center;
				padding-left:15px;
				padding-right:10px;
				height:53px;
				border:1px #e8e8e8 solid;
			}
			
				.search {
					max-width:290px;
				}
				
					.search i {
						left:7px;
						top:9px;
						font-size:20px;
						color:#c3c3c3;
					}
			
					.search input[type="text"] {
						width:inherit;
						background:#f4f4f4;
						padding-left:38px;
						padding-right:18px;
						line-height:36px;
					}
			
				.user {
					align-items: center;
					position: relative;
				}
					
					.user a:focus,
					.user a:hover {
						color:#333;
						text-decoration: none;
					}
			
					.user-avatar {
						margin-right:11px;
						width:25px;
						height:25px;
						background:#f3f2ee;
					}
					
						.user-avatar a {
							display:block;
						}
			
						.user-avatar a,
						.user-avatar img {
							width:inherit;
							height:inherit;
							border-radius:inherit;
						}
.user-name .user-down {
    width: 100% !important;
    background-color: #00adc7;
    color: #fff;
    padding: 12px 4px !important;
    margin-top: 7px;
    z-index: 1;
    right: 0;
}
.user-name .user-down a {
    color: #fff;
}

					
					.user-name {
						margin-right:8px;
					}
					
					.user .user-name {
					       position: initial;
					}
					
						.user-name a i {
							margin-left:9px;
						}
			
					.user-settings,
					.user-menu {
						margin-left:17px;
					}
			
					.user-settings a,
					.user-menu a {
						font-size: 20px;
					}
			
			.main {
				height:calc(100% - 54px);
			}
			
				.filter-bar {
					align-items: center;
					padding:15px;
					justify-content: space-between;
				}
									
					.selected-filters {
						margin-left:25px;
						margin-right:25px;
					}
					
						.selected-filters li {
							display:inline-flex;
							align-items: center;
							margin-right:2px;
							margin-bottom:5px;
							padding-left:6px;
							padding-right:5px;
							height:21px;
							line-height:21px;
							background:#f4f4f4;
						}
						
							.selected-filters li .close-item {
								margin-left:15px;
								width:10px;
								height:10px;
							}
							
							.filter-bar .selected-filters li {
							    margin-bottom: 0;
							}
							
					.filter-tools {
						margin-left: auto;
						font-size:20px;
					}

						.filter-tools a.fa {
							margin-left:10px;
							margin-bottom:5px;
							color:#8d8d8d;
						}
						
						.filter-bar a:hover,
						.filter-tools a.fa:hover {
							color:#666768;
						}

						.filter-tools .filtering {
							margin-left:10px;
							padding-left:15px;
							border-left:1px #ccc solid;
							cursor:pointer;
						}

							.filter-tools .feedback em {
								top:-5px;
								right:-5px;
								width:17px;
								height:17px;
								border-radius:100%;
								background:#de012f;
								font-family:Arial;
								font-size:10px;
								font-style:normal;
								line-height:17px;
							}
							
							.filter-tools .filtering > input[type="checkbox"] {
								display:none;
							}
	

						
.btn-right .btn,
.form-group .btn {
    border-radius: 0;
    border: 2px solid #00adc7;
    background-color: #00adc7;
    line-height: inherit;
    padding: 10px 15px;
    outline:none;
}

.btn-right .btn:hover,
.form-group .btn:hover,
.access-form .btn-success:not([disabled]):not(.disabled).active,.access-form .btn-success:not([disabled]):not(.disabled):active,
.btn-primary.btn-file:hover {
    border-color: #512178;
    background-color: #512178;
    color: #fff;
    box-shadow:none;
}
.access-form .btn-success.focus,.access-form .btn-success:focus {
   box-shadow:none;
}

.btn-primary.btn-file {
    background-color: #00adc7;
    border-color: #00adc7;
}				
							
							
							
							.filtering-popup-layer {
								display:none;
								background: rgba(0, 0, 0, 0);
							}
							
								.filtering-popup {									
									opacity:0;
									visibility:hidden;
								}
							
								.filtering-popup.card-detail-popup {
									width: 100% !important;
									max-width: 950px;
									font-family: Roboto;
								}
								
							.filtering-popup-layer.active-popup {
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								z-index: 1;
								cursor:default;
								display: flex;
								justify-content: center;
								align-items: center;
								
								background: rgba(0, 0, 0, .75);
							}
							
							#popup-filtering.active-popup {
								position: absolute;
								left: auto;
								right: 10px;
								top: 100px;
								bottom: auto;
								
								background: transparent;
							}
								
								.filtering-popup-layer.active-popup .filtering-popup {
									display:block;
									
									width:360px;
									max-height:95vh;
									overflow-y:auto;
									
									border:1px #e8e8e8 solid;
									padding:17px 15px;
									background:#EDEFF0;
									color:#333;
									cursor: text;
									
									opacity:1;
									visibility:visible;
								}
								
									.popup-close {
										cursor: pointer;
										    right: 8px;
										    top: 7px;
										    background: url(../images/close-icon.png);
										    background-size: cover;
										    width: 18px;
										    height: 18px;
									}
									
									.popup-close:before {
										font-size: 24px;
									}
									
									.filtering-popup .card-detail-title {
										padding-bottom: 5px;
										margin-right: 15px;
									}
									
									.filtering-popup > label {
										width:50%;
										float:left;
										margin-bottom:17px;
									}
								
										label span {
											font-family: Roboto;
											font-size:15px;
										}
										
										label input[type="checkbox"] {
											display:none;
										}
										
										label .bullet {
											display:inline-block;
											width:25px;
											height:25px;
											background:#c7c7c7;
											vertical-align:middle;
										}
										
										label input[type="checkbox"] ~ .bullet:before {
											position: absolute;
											content: "\f00c";
											font-family: FontAwesome;
											font-size:20px;
											color:#de012f;
											top: 2px;
											left: 2px;
											opacity:0;
										}
										
										label input[type="checkbox"]:checked ~ .bullet:before {
											opacity:1;
										}
										
										.filtering-popup .list-data,
										.filtering-popup .date-range {
											clear: both;
											margin-bottom: 10px;
											font-family: Roboto;
										}
										
											.filtering-popup .list-data span,
											.filtering-popup .date-range span {
												display:block;
												margin-bottom: 4px;
											}
										
											.filtering-popup .list-data input[type="text"],
											.filtering-popup .list-data select, .list-data input[type=number] {
												height:30px;
												padding-left:6px;
												padding-right:6px;
												border:1px #e8e8e8 solid;
											}
											
											#id_pop_submitted select, 
											 #id_pop_accepted select {
											 	background: #fff;
												width: 100%;
												border-radius: 4px;
											 }
									
									.filtering-popup .date-range {
										justify-content: space-between;
										align-items: center;
									}
									
										.filtering-popup .date-range label {
											width:133px;
											height:30px;
											border:1px #e8e8e8 solid;
										}
									
											.filtering-popup .date-range input[type="text"] {
												height:28px;
												padding-left:10px;
												padding-right:26px;
											}
									
										.filtering-popup .date-range > i {
											font-size:20px;
											color:#f65083;
										}
										
												.filtering-popup .date-range label .fa {
													right: 8px;
													top: 4px;
													font-size: 18px;
													cursor: pointer;
												}
												
									.filtering-popup button {
										margin: 20px auto 0;
										border:2px #de012f solid;
										/*padding-left:33px;
										padding-right:33px;*/
										padding-left:10px;
										padding-right:10px;
										color:#de012f;
										line-height:34px;
										cursor:pointer;
									}
												
									.filtering-popup button:hover {
										background:#de012f;
										    border-color: #de012f !important;
									}
									
									.txt-with-icon {
										display:flex;
										align-items: baseline;
										margin-top:10px;
										margin-bottom:20px;
									}
									
										.txt-with-icon .fa {
											margin-right:5px;
											/*width: 30px;*/
										}
									
										.txt-with-icon .fa:before {
											font-size: 20px;
										}
										
										.txt-with-icon .person-icon {
											margin-right:5px;
											background-color: #D6DADC;
											color: #4d4d4d;
											min-width: 30px;
											width: 30px;
											height: 30px;
											text-align: center;
											line-height: 30px;
											border-radius:4px;
										}
										
										.txt-with-icon .person-icon.person-small-icon {
											margin-left: 10px;
											margin-right: 5px;
											min-width: 20px;
											width: 20px;
											height: 20px;
											line-height: 20px;
										}
										
										.txt-with-icon .person-icon:before {
											content:attr(data-foo);
											font-size: 13px;
										}

										.card-detail-title textarea {
											background: transparent;
											padding-right: 10px;
											padding-left: 0;
											height: 25px;
											font-size: 20px;
											color:#333;
										}
										
										.card-detail-title textarea:focus {
											background: #fff;
										}
										
										.person-repost > span {
											display:block;
											margin-top:5px;
											margin-bottom:5px;
											padding:7px 10px;
											white-space: normal;
											line-height: 18px;
										}
										
										.person-action .attachment-preview {
											margin:3px 0;
										}		

										
											.person-action .attachment-preview img {
												width:100%;
											}	
										
											.person-action .attachment-preview:before {
												content:"";
												position:absolute;
												top:0;
												bottom:0;
												left:0;
												right:0;
												background:rgba(0, 0, 0, .25);
											}
											
											.person-action .attachment-preview:hover:before {
												background:rgba(0, 0, 0, 0);
											}
										
									.card-body {
										display:flex;
									}
									
										.card-post-items {
											flex:3.9;
											margin-right:15px;
										}
										
											.txt-without-icon {
											/*	padding-left: 35px;*/
												padding-bottom: 15px;
											}
												
												div[class^="txt-"] textarea {
													margin-top:5px;
													margin-bottom:5px;
													padding:10px;
													min-height: 75px;
												}
												
												div[class^="txt-"] button {
													margin: 0;
													padding-left: 5px;
													padding-right: 5px;
													line-height: 25px;
												}
												
												.d-flex.link-on-right {
													align-items: center;
												}
												
													.d-flex.link-on-right a:last-of-type {
														margin-left: auto;
													}
											
												.description-txt {
													white-space: normal;
													margin-top: 5px;
													line-height: 18px;
												}
												
												button[readonly],
												button[readonly]:hover {
													border: 0;
													color: unset;
													cursor: default;
													background: #F8F9F9;
												}
												
												#id_sent_comment:hover {
												    background: #00adc7;
												    color: #fff;
												}
												
												.attachment-thumbnail {
													display:flex;
													align-items: center;
													margin-bottom:7px;
													line-height: 20px;
												}
												
												.attachment-thumbnail:hover {
													background:#F8F9F9;
												}
												
													.attachment-thumbnail-preview {
														display:flex;
														justify-content: center;
														align-items: center;
														flex:1;
														border: 1px solid #D6DADC;
														background-color: #E2E4E6;
														height: 78px;
														text-align: center;
													}
													
														.attachment-thumbnail-preview img {
															height: inherit;
															width: 100%;
															object-fit: cover;
														}
													
													.attachment-thumbnail-details {
														flex:4;
														padding-left:10px;
													}
													
														.download-link {
															margin-top:5px;
														}
									
										.card-control-toolkit {
											flex:1.1;
										}
										
											.card-control-toolkit ul {
												margin-top:10px;
												margin-bottom: 30px;
											}
																						
												.card-control-toolkit ul li .toolkit-btn {
													margin-bottom:5px;
													display: block;
													text-decoration: none;
													background: #D6DADC;
													color:#333;
													line-height: 30px;
													padding: 0 15px 0 10px;
													cursor:pointer;
												}
												
													.card-control-toolkit ul li .toolkit-btn input[type="checkbox"] {
														display:none;
													}
													
													.card-control-toolkit ul li .toolkit-btn input[type="checkbox"] ~ .toolkit-popover {
														visibility:hidden;
														opacity:0;
														width: 320px;
														position:absolute;
														top: 30px;
														z-index: 1;
														padding:5px 10px 10px;
														right: 0;
														cursor:text;
														box-shadow: 0 0 10px #ccc;
													}
													
													.card-control-toolkit ul li .toolkit-btn input[type="checkbox"]:checked ~ .toolkit-popover {
														visibility:visible;
														opacity:1;
													}
													
														.toolkit-popover .toolkit-popover-title {
															border-bottom:1px #999 solid;
														}
														
															.toolkit-popover input[type="text"] {
																padding-left: 10px;
																padding-right: 10px;
																line-height: 30px;
																margin-top: 10px;
																opacity:.6;
															}
															
															.toolkit-popover input[type="text"]:focus {
																opacity:1;
															}
															
															.toolkit-popover .popup-close {
																margin-right: 0 !important;
																top: 5px;
																right: 5px;
																width: 15px;
																height: 15px;
															}
															
																.toolkit-popover .popup-close:before {
																	font-size: 18px;
																}
															
															.toolkit-popover .txt-with-icon {
																margin-bottom:0;
																align-items: normal;
															}
															
																.toolkit-popover .txt-with-icon .label-value:hover {
																	opacity:.5;
																}
															
															.toolkit-popover .txt-with-icon:hover .person-icon {
																background:#999;
																color:#fff
															}
																					
												.card-control-toolkit ul li .toolkit-btn:hover {
													background:#333;
													color: #fff;
												}
												
													.card-control-toolkit ul li .toolkit-btn > i {
														margin-right:10px;
													}
													
											.card-control-toolkit .change-status-type {
												border:1px #8d8d8d solid;
											}
			
				.center-area {
					flex:1;
					height:calc(100% - 55px);
					overflow-x:hidden;
					overflow-y:auto;
				}

					.posts-list {
						margin-top:11px;
						border-top:1px #e8e8e8 solid;
					}

						.posts-list legend {
							margin-bottom:12px;
							padding-left:27px;
							padding-right:27px;
							font-weight:500;
						}
						
						.posts-list .post-item {
							padding:14px 7px 9px 15px;
						}
						
						.posts-list .post-item:not(:first-of-type) {
							border-top:1px #e8e8e8 solid;
						}
						
						.posts-list .post-item:hover {
							background:#f4f4f4;
						}
						
							.post-title-bar {
								align-items: flex-start;
							}
							
								.post-status {
									margin-right:20px;
								}
								
								#projects-data-t .post-status {
									margin-right:0;
									text-transform: uppercase;
								}
							
								.post-status.pending {
									color:#00adc7;
								}
							
								.post-status.applied {
									color:#96d700;
								}
							
								.post-status.in-progress {
									color:#512178;
								}

									.post-status i {
										margin-right:6px;
									}
								
								.post-title {
									flex:10;
								}
								
									.post-priority span {
										flex:1;
										margin-right:3px;
										width:54px;
										height:10px;
										cursor:pointer;
									}
										
										.member-photo > a {
											cursor: default;
										}
									
										.member-photo > a .tooltip,
										.post-priority span .tooltip {
											opacity: 0;
											top:0;
											line-height: 33px;
											padding-left: 10px;
											padding-right: 10px;
											background: #000;
											font-family:arial;
											font-style: unset;
											white-space:nowrap;
											cursor:text;
										}
										
										.member-photo > a .tooltip:after,
										.post-priority span .tooltip:after {
											content: "";
											position: absolute;
											top: -6px;
											width: 12px;
											height: 12px;
											background: #000;
											transform: rotate(45deg);
										}
										
										.member-photo > a:hover .tooltip,
										.post-priority span:hover .tooltip {
											opacity: 1;
										}
										
										.member-photo > a .remove-member {
											position: absolute;
											display: none;
											right: 5px;
											top: 2px;
											background: #555;
											color: #fff;
											border-radius: 100%;
											width: 15px;
											height: 15px;
											text-align: center;
											font-size: 8px;
											font-weight: bold;
											font-style: normal;
											line-height: 15px;
											cursor: pointer;
										}
										
										.member-photo > a:hover .remove-member {
											display:block;
										}
										
										.member-photo > a .tooltip {
											left:0;
											/*transform: translate(0, 70px);*/
											transform: translate(0, 0);
											z-index: 1;
											display:none;
										}
										
										.post-priority span .tooltip {
											right:0;
											transform: translate(0, 50px);
										}
										
										.member-photo > a .tooltip:after {
											left: 15px;
										}
										
										.post-priority span .tooltip:after {
											right: 20px;
										}
										
										.member-photo > a:hover .tooltip {
											transform: translate(0, 47px);
										}
										
										.post-priority span:hover .tooltip {
											transform: translate(0, 18px);
										}
								
									.post-priority span.red {
										background:#de012f
									}
								
									.post-priority span.green {
										background:#96d700;
									}
								
									.post-priority span.pink {
										background:#512178;
									}
									
							.post-relations {
								margin-top:14px;
								margin-bottom:14px;
							}
							
								.related-documents {
									flex:1;
								}
							
									.related-documents a {
										display: inline-block;
										margin-right: 8px;
										margin-bottom: 3px;
										white-space: nowrap;
										color: #00adc6;
									}
								
										.related-documents a .fa {
											margin-right:5px;
										}
								
										.related-documents a .fa-file-word-o {
											color:#0d5f86;
										}
								
										.related-documents a .fa-file-pdf-o {
											color:#e80037;
										}
									
									.related-documents a:first-child {
										/*margin-right:20px;*/
									}
										
								.post-timing {
									flex:1;
									margin-right: auto;
								}
											
									.post-timing span {
										margin-left:16px;
										margin-right:16px;
									}
											
										.post-timing span .fa {
											margin-right:7px;
										}
							
							.post-extras {
								justify-content: space-between;
								align-items: flex-end;
							}
							
								.post-responsible-people {
									margin-top:14px;
								}
								
									.post-responsible-people > span {
										margin-bottom:8px;
									}
									
								.post-item .post-actions {
									align-items: center;
									margin-bottom: 7px;
									padding-left:14px;
									padding-right:9px;
									height:36px;
									visibility:hidden;
								}
								
								.post-item:hover .post-actions {
									visibility:visible;
								}
									
									.post-actions a {
										margin: 0 6px;
									    font-size: 16px;
									    color: #8d8d8d;
									}
									
									.post-actions .fa-share {
										color:#512178;
									}
									
									.post-actions > div {
										margin-top: 3px;
										margin-left:13px;
										font-size: 26px;
										color: #000;
									}
		
				.right-slide {
					overflow-y:auto;
					border-left:1px #e8e8e8 solid;
					max-width:422px;
					background:url("../images/logo-in-right-slide.png");
					background-position: 260% 105%;
					background-repeat: no-repeat;
				}
					
						.widget-title-bar {
							padding-left:13px;
							padding-right:13px;
							height:57px;
							background:#f4f4f4;
							/*justify-content: space-between;*/
							align-items: center;
						}
							
								.add-member i {
									margin-right:4px;
								}
								
								.widget-title-bar .add-member {
									margin-left: 30px;
								}
								
								.widget-title-bar .close-item {
									margin-left: auto;
								}
							
							.close-item {
								width:21px;
								height:21px;
								background:url("../images/close-icon.png");
								background-size: cover;
							}
						
						.widget-content {
							padding:15px 9px;
							overflow:hidden;
						}
						
							.member-photo {
								/*float:left;*/
								display:inline-block;
								width:40px;
								height:40px;
								margin-right:4px;
								margin-bottom:7px;
								background:#f3f2ee;
								/*border: 1px #ddd solid;*/
							}
							
								.member-photo > a,
								.member-photo img {
									height:inherit;
									border-radius:inherit;
								}
									
									.member-photo img {
										object-fit: cover;
										max-width: 40px;
									}
								
							.member-post {
								border-bottom:1px #e8e8e8 solid;
								padding-bottom:14px;
								color:#5e5e5e;
							}
							
							.member-post:not(:first-child) {
								padding-top:16px;
							}
							
							.member-post:last-of-type {
								margin-bottom:26px;
							}
							
								.member-post .member-photo {
									width:25px;
									height:25px;
									flex:1;
									margin-right:8px;
									overflow:visible;
								}
								
								.member-post > div:not(.member-photo) {
									flex: 15;
									margin-top:-3px;
									line-height:18px;
								}
								
								.card-post-items .member-photo {
									border: 1px #ddd solid;
								}
								
								.member-post a {
									color:inherit;
								}
								
								.member-post a:hover {
									color:#00adc7;
								}
								
								.member-post span {
									color:#8e8e8e;
								}
								
							.widget-content .view-all {
								color:#00adc7;
							}
								
							.widget-content .view-all:hover {
								color:#5e5e5e;
							}
									
								.widget-content .view-all i {
									margin-right:5px;
								}
								
	#show-right-slide,
	#show-left-slide {
		opacity:0;
		width:0;
		position: absolute;
	}
	
	.left-slide-menu a,
	.add-new-block,
	.user a,
	.filter-bar a,
	.filter-tools .filtering > input[type="checkbox"] ~ .filtering-popup,
	.filtering-popup > label input[type="checkbox"] ~ .bullet:before,
	.filtering-popup button,
	.filtering-popup select,
	.posts-list .post-item,
	.member-photo > a .tooltip,
	.post-priority span .tooltip,
	.post-item:hover .post-actions,
	.member-post a,
	.widget-content .view-all,
	#show-right-slide,
	#show-left-slide,
	.person-action .attachment-preview:before,
	.attachment-thumbnail,
	/*.filter-tools .filtering > input[type="checkbox"] ~ .filtering-popup-layer,
	.filter-tools .filtering > input[type="checkbox"] ~ .filtering-popup-layer .filtering-popup,*/
	.card-detail-title textarea,
	.card-control-toolkit ul li .toolkit-btn input[type="checkbox"] ~ .toolkit-popover,
	.card-control-toolkit ul li .toolkit-btn,
	.toolkit-popover .txt-with-icon .person-icon,
	.toolkit-popover input[type="text"] {
		transition:all .5s;
	}
	
/*necessary customizations "breaking" some framework styles*/
body .container-fluid {
	padding-right: 0;
	padding-left: 0;
	height: auto;
	min-height: 100%;
}

	.access-form,
	.main.m-members .grid-view {
		border-top: 1px #e8e8e8 solid;
		padding: 14px 15px 9px 15px;
	}
	
		.main.m-members .grid-view .summary {
			padding: 10px 0;
			text-align: center;
		}
		
		.main.m-members .rc-handle-container {
		    overflow-x: auto;
		}
		
		.main.m-members .grid-view .pagination {
			justify-content: center;
		}
		
			.main.m-members .grid-view .pagination li {
				padding: 0 10px;
				font-size: 16px;
			}
			
			.main.m-members .grid-view .pagination li a:hover,
			.main.m-members .grid-view .pagination li.active a{
				text-decoration:none;
				color:#00adc7;
			}
		
		.access-form input[type="text"] {
			box-shadow: none;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.access-form input[type="text"] ~ .help-block {
			font-size: 13px;
			padding-left: 10px;
			color: #de012f;
		}
		
		.main.m-members .grid-view table tbody td,
		#projects-data-t td {
			vertical-align: middle;
			font-size: 14px;
			line-height: 16px;
		}
		
		.main.m-members .grid-view table thead th:last-child,
		.main.m-members .grid-view table tbody td:last-child {
			text-align: center;
		}
		
		.main.m-members .grid-view table tbody td a[title="lead-view"],
		.main.m-members .grid-view table tbody td a[title="lead-update"],
		.main.m-members .grid-view table tbody td a[title="Delete"] {
			margin: 0px 4px;
			font-size: 16px;
		}
.main.m-members .grid-view table tbody td a[title="Delete"],
.attachment .delete-attachment {
    color:#de012f;
}

.main.m-members .grid-view table tbody td a[title="lead-update"]:hover {
color:#00adc7;
}
		
		.main.m-members .grid-view .user-form label,
		.main.m-members .access-form label {
			margin-top: 10px;
			margin-bottom: 5px;
			font-size: 15px;
			font-weight: bold;
			color: #555;
			padding-left: 23px;
		}
		
		.main.m-members .access-form label.control-label {
			padding-left: 0;
		}
		
.datepicker  table tr td.day:hover,  .datepicker table tr td.focused,.datepicker .datepicker-switch:hover,
.datepicker table tr td.selected, .datepicker table tr td.selected.highlighted {
    background: #00adc7 !important;
    color: #fff;
    border-radius: 0;
}
.datepicker table tr td, .datepicker table tr th {
    vertical-align: middle;
}

.wrapper .table-bordered thead td, .wrapper .table-bordered thead th {
    border-bottom-width: 1px;
}

#projects-data-t td, #projects-data-t th {
    border: 1px solid #e9ecef;
	padding: 10px 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#projects-data-t{
	border-collapse: collapse;
}

#projects-data-t {
    border-bottom: none;
}

#projects-data-t tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.02);
}

#projects-data-t th {
    font-weight: 500;
    vertical-align: middle;
}

#projects-data-t td {
    color: #212529;
}

.post-actions a:hover,
.filter-tools .notifications .icon-close:hover {
    color: #666768;
}

.wrapper .table-bordered td a {
    color: #000;
}


.fa-trash.removal {
    color: #de012f;
}

.filter-tools .notifications .icon-close {
    font-size: 17px;
    right: 7px;
    top: 10px;
    color: #acacac;
}

.post-action .white-bg {
    background: transparent;
}

.table-bordered th a:hover,
.table-bordered td a:hover {
	color:#413d88;
	text-decoration:none;
}

.wrapper .table-bordered thead th {
    color: #000;
    font-weight: 500;
    vertical-align: middle;
    line-height: 16px;
}

.post-actions.white-bg {
    background-color: transparent;
}

#projects-data-t_filter label input {
    border-color:#e9edf8;
    padding: 5px 3px 5px 8px;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    color: #a6abab;
    font-weight: 300;
    border-radius: 0;
}

#projects-data-t_filter {
    margin-bottom: 20px;
        float: right;
}



form#w0 select.form-control:not([size]):not([multiple]) {
    height: 44px;
    border: 1px #e9edf8 solid;
    padding-top: 2px;
    color: #b5b5b5;
    font-weight:300;
}

form#w0 select.form-control:not([size]):not([multiple]) option {
    color: #303030;
}

form#w0 .form-group textarea {
    height: 104px !important;
    resize: none;
    border-color: #e9edf8;
}

#w0 label input[type="checkbox"] {
    display: block;
    width: 23px;
    height: 18px;
    top: 5px;
    left: 18px;
}

form#w0 .select2-container--krajee .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px #e9edf8 solid;
    min-height: 44px;
}

#w0 h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn.btn-default .caret,
 th.sorting .fa {
    display: none;
}

.m-members > div > .btn-group {
    float: right;
    margin-top: -39px;
    display: flex;
    margin-right: 11px;
}
 .main.m-members .grid-view table tbody td a[title="Download word"],
 .main.m-members .grid-view table tbody td a[title="Update"],
 .main.m-members .grid-view table tbody td a[title="Delete"] {
 	margin: 0 2px;
 }
 
 .m-members .dropdown-menu {
    left: auto;
    right: 0;
 }
 
 .m-members .kv-checkbox-list .checkbox {
    padding: 0 11px;
}

 .m-members #w0-cols-list .checkbox input {
    top: -3px;
    width: 15px;
    height: 16px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid transparent !important;
    background: transparent !important;
    text-align: center;
}
 
 .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid transparent  !important;
    background: #00adc7 !important;
    color: #fff  !important;
}

.ui-widget-header {
    border: none !important;
    background: transparent !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus,
.ui-state-active, .ui-widget-content .ui-state-active {
	background: #00adc7 !important;
	color: #fff  !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all .ui-state-hover {
	background:transparent !important;
}	

.ui-datepicker .ui-datepicker-next {
    right: 2px !important;
}
			
.ui-datepicker .ui-datepicker-prev {
    left: 2px !important;
}
			
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
     border: 1px solid transparent !important;
}

.input-group.input-daterange .input-group-addon {
    border-right: 1px solid #ccc;
}

#id_project_title {
    height: 33px;
}

.attachments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attachments .attachment {
    width: 49%;
    margin-bottom: 12px !important;
}

.form-group.field-projects-tender_stage {
    margin-top: 9px;
}

#projects-request_issued-kvdate {
    margin-bottom: 16px;
}

 .m-members .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}

 .m-members .table-striped tbody tr:hover {
    background-color: rgba(0,0,0,.05);
}

.wrapper table thead tr th,
.wrapper table thead tr th a  {
    color:#000;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.wrapper table thead tr th,
.wrapper table thead tr td,
#projects-data-t thead th {
    border-color:#d5d5d5;
    font-size: 15px;
}

.notifications .not-title {
    margin: 9px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
}

div#w0, #projects-data-t_wrapper {
    overflow-x: auto;
}

.form-group.field-projects-importance_1,
.form-group.field-projects-importance_2,
.form-group.field-projects-importance_3 {
	margin-bottom:0;
	margin-top: -12px;
}

.add-rules, .add-companies {
    margin-bottom: 15px;
}

#id_checklists_data .txt-without-icon {
    padding-left: 35px;
}

#notifications_list li a {
    color: #00adc7;
    padding: 0 10px;
    font-size: 13px;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

#notifications_list {
    white-space: normal;
}

.main .file-preview .fileinput-remove {
    top: 9px;
    right: 6px;
    font-size: 28px;
}

.card-control-toolkit .d-block {
    font-weight: 400;
}

@media screen and (max-width:1367px) {
	.main.m-members .grid-view table tbody td, #projects-data-t td {
	    font-size: 14px;
	    line-height: 15px;
	    padding:5px;
	}
	
	.left-slide {
	    max-width: 230px;
	}
	
	.add-new-block {
	    padding: 10px 17px 10px 12px;
	}
	
	.left-slide .logo img {
	    max-width: 190px;
	}
}

input::placeholder,
textarea::placeholder {
  color: #b5b5b5 !important;
  font-weight:300;
}
						
@media screen and (max-width:1280px) {

		.filter-bar #show-right-slide, .filter-bar #show-left-slide {
		     margin-top: 0 !important; 
		}
		
		.left-slide {
		    max-width: 240px;
		}

		.keep-sliding-icons .fa-bars:before {
		    content: "\f00d";
		}

		.top-bar,
		.main {
			position:absolute;
			left:0;
			right:0;
			/*z-index:1;*/
		}
		
			.top-bar .search {
				margin-left: 30px;
			}
		
		.main {
			top:54px;
		}
		
		
	
				#show-right-slide,
				#show-left-slide {
					opacity:1;
					width:auto;
					z-index:1;
					padding:5px;
					background:#00adc6;
					position:fixed;
					top: 13px;
					color:#fff;
					cursor:pointer;
					border-radius: 2px;
				}
				
				#show-right-slide {
					right:15px;
				}
				
				#show-left-slide {
					left:15px;
				}
			
				.selected-filters {
					margin:15px 0;
				}
	
	.left-slide,
	.right-slide {
		opacity: 0;
		width:0;
	}
	
	.left-slide.show-left-slide,
	.right-slide.show-right-slide {
		opacity: 1;
		width:100%;
		position: fixed;
		z-index: 3;
	}
	
	.right-slide.show-right-slide {
		top:0;
		right: 0;
		bottom:0;
	}
	
	.center-area {
		height: calc(100vh - 138px);
	}
	
	.attachments .attachment {
	    width: 100%
	}
	
	.m-members > div > .btn-group {
	    margin-top: -39px;
	}
	
	.main .filter-tools {
	    min-width: auto;
	}
	
	 #popup-filtering.active-popup {
	    top: 115px;
	}

}

@media screen and (max-width:1080px) {
	.filtering-popup.card-detail-popup {
		max-width: none;
		width: 95vw !important;
	}
}

@media screen and (max-width:992px) {
	.filtering-popup-layer #id_pop_submitted >div, .filtering-popup-layer #id_pop_accepted > div {
	    width: 47.5%;
	}
}

@media screen and (max-width:767px) {
	.wrapper .table-responsive > .table > thead > tr > th {
	    white-space: normal;
	}
	
	.filtering-popup-layer #id_pop_submitted >div, .filtering-popup-layer #id_pop_accepted > div {
	    width: 47%;
	}
	
	.filtering-popup-layer #id_pop_submitted #id_checklist_buttons,
	.filtering-popup-layer #id_pop_accepted #id_checklist_buttons {
	    width: 96%;
	}
	
	.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
	    white-space: normal !important;
	}
}

@media screen and (max-width:736px) {
	.top-bar,
	.main {
		/*position: static;*/
	}

	.right-slide.show-right-slide,
	.left-slide.show-left-slide {
		/*max-width:none;
		width: calc(100vw - 45px);*/
	}
	
		.right-slide {
			background-size: contain;
		}
	
		.filter-bar.keep-sliding-icons #show-right-slide {
			right: auto !important;
			left: 14px;
		}
	
		.filter-bar.keep-sliding-icons #show-left-slide {
			/*left: auto !important;
			right: 14px;*/
		}
		
		.center-area {
			height: auto;
			overflow-y: hidden;
		}
		
			.post-relations {
				flex-direction: column;
			}
			
				.post-timing {
					margin-top: 6px;
				}
			
					.post-timing span {
						margin-left: 0;
					}
					
	.card-body {
		flex-direction: column;
	}
	
		.card-control-toolkit {
			order: -1;
			margin-bottom: 20px;
			text-align:center;
		}
		
			.card-control-toolkit ul {
				margin-bottom: 30px;
			}
					
				.card-control-toolkit ul li .toolkit-btn {
					padding:0;
					background:transparent;
				}
				
					.card-control-toolkit ul li .toolkit-btn > i {
						font-size: 30px;
						margin-right: 0;
						padding: 5px 7px;
					}
					
					.card-control-toolkit ul li .toolkit-btn > span {
						display:none;
					}
					
	.card-control-toolkit ul li .toolkit-btn input[type="checkbox"] ~ .toolkit-popover {
		top: 44px;
	}
	
	.card-control-toolkit ul li .toolkit-btn input[type="checkbox"]:checked ~ .toolkit-popover {
		left:0;
		right:0;
		width:100%;
	}
	
	.filtering-popup-layer #id_pop_submitted >div, .filtering-popup-layer #id_pop_accepted > div,
	.filtering-popup-layer #id_pop_submitted #id_checklist_buttons,
	 .filtering-popup-layer #id_pop_accepted #id_checklist_buttons {
	    width: 100%;
	    margin: 10px 0;
	}
}

@media screen and (max-width:568px) {
	.top-bar .search {
		margin-left: 60px;
		width: calc(100% - 60px);
		    flex: 1;
	}
	
		.top-bar .search input[type="text"] {
			/*width:calc(100% - 60px);*/
		}
	
	.top-bar .user {
		margin-right: 0;
	}

				
	.top-bar {
		padding-top: 10px;
		padding-bottom: 10px;
		/*flex-direction: column-reverse;*/
	}
	
		.search {
			max-width: none;
			margin-top: 10px;
		}
		
		
			.user-settings {
				margin-left: auto;
			}
			
		.post-title-bar {
			flex-direction: column;
		}
		
			.post-title-bar > * {
				margin-bottom:7px;
			}
			
				.post-priority {
					margin-left:auto;
				}
			
		.filtering-popup {
			width: calc(100vw - 40px);
		}
		
		#popup-filtering.active-popup  {
		   top: 103px;
		}
	
	.related-documents a:first-child {
		display: block;
		margin-bottom:5px;
	}
	
	.post-extras {
		flex-direction: column;
		align-items: flex-start;
	}

	
	.filter-tools.nowrap {
	    min-width: auto;
	    width: 50%;
    	    text-align: right;
	}
	
	.filter-bar {
	        flex-wrap: wrap;
	}

	.breadcrumb {
	    width: 50%;
	}
	
	.selected-filters {
	    order: 1;
	}

	.kv-table-wrap td, .kv-table-wrap th {
	    display: table-cell !important;
	}
}

@media screen and (max-width:414px) {
	.attachment-thumbnail {
		display: block;
	}
	
	.filtering-popup-layer.active-popup .filtering-popup {
	    width: 320px;
	}
	
	.filtering-popup label span {
	    font-size: 14px;
	}
	
	.filtering-popup  label .bullet {
	    width: 22px;
	    height: 22px;
	}
	
	.filtering-popup label input[type="checkbox"] ~ .bullet:before {
	    font-size: 17px;
	}
	
	#popup-filtering .popup-close {
	    width: 16px;
	    height: 16px;
	}

}
